*{
    margin: 0px;
    font-family: Open Sans;
}

#logo{
    width: 65%;
    padding: 10px;
}

#header{
    display: grid;
    grid-auto-flow: column;
    padding: 50px;
    background-color:rgb(57, 2, 22);
}

#lista{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    color: rgba(255, 255, 255, 0.821);
    list-style: none;
    font-family: Playfair Display;
    font-size: 20px;
}

li{
    margin-left: 80px;
    font-family: Open Sans;
}

li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.821);
}

#procedimentos{
    background-color: rgba(255, 255, 255, 0.821);
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#tituloProcedimentos{
    font-family:Playfair Display;
    color: rgb(92, 26, 26);
    background-color: #bd9056be;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

#tituloclinicageral{
    
    color: rgb(92, 26, 26);
    margin: 50px 0px 10px 50px;
    font-size: 35px;
}

#imgclinicageral{
    border-radius: 30px;
    margin: 50px;
}

#explicacaoclinicageral{
    font-family: Open Sans;
    font-size: 30px;
    margin-left: 15px;
    text-align: center;
}

#clinicaGeral{
    text-align: center;
}

#tituloClareamento{
    color: rgb(92, 26, 26);
    margin: 50px 0px 10px 50px;
    font-size: 35px;
}

#imgClareamento{
    border-radius: 30px;
    margin: 50px;
}

#explicacaoClareamento{
    font-family: Open Sans;
    font-size: 30px;
    margin-left: 50px;
}

#clareamento{
    text-align: center;
}

#tituloCirurgiaOral{
    color: rgb(92, 26, 26);
    margin: 50px 0px 10px 50px;
    font-size: 35px;
}

#imgCirurgiaOral{
    border-radius: 30px;
    margin: 50px;
}

#explicacaoCirurgiaOral{
    font-family: Open Sans;
    font-size: 30px;
    margin-left: 50px;
}

#cirurgiaOral{
    text-align: center;
}

#tituloToxinaBotulinica{
    color: rgb(92, 26, 26);
    margin: 50px 0px 10px 50px;
    font-size: 35px;
}

#imgToxinaBotulinica{
    border-radius: 30px;
    margin: 50px;
}

#explicacaoToxinaBotulinica{
    font-family: Open Sans;
    font-size: 30px;
    margin-left: 50px;
}

#toxinaBotulinica{
    text-align: center;
}

#procedimentos2{
    margin-top: 85px;
    margin-bottom: 85px;
    background-color: rgba(255, 255, 255, 0.821);
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.proced:hover{
    transform: translateY(-15px);
    transition-duration: 0.5s;
}

#tituloFeedbacks{
    font-family:Playfair Display;
    color: rgb(92, 26, 26);
    background-color: #bd9056be;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.feedbacks{
    width: 35%;
    padding: 60px;
    text-align: center;
    justify-content: space-between;
}

#feedbacks{
    text-align: center;
    justify-content: space-around;
}

.secao-feedbacks{
    background-color: rgba(255, 255, 255, 0.821);
    padding: 20px;
    text-align: center;
  }

  .stars:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  
  .feedback{
    margin: 20px;
    padding: 10px;
    background-color: rgb(57, 2, 22);
    border-radius: 30px;
    align-items: center;
  }
  
  .feedback img {
    width: 120px;
    border-radius: 50%;
  }
  
  .feedback p {
    font-size: 30px;
    margin: 35px;
    font-family: Open Sans;
    color: rgba(255, 255, 255, 0.821);
  }

  #nomesFeedbacks{
    font-size: 40px;
  }

  #tituloQuemSouEu{
    font-family:Playfair Display;
    color: rgb(92, 26, 26);
    background-color: #bd9056be;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

#quemSouEu{
    display: grid;
    grid-auto-flow: column;
}

#linkDra{
    background-color: #bd9056be;
    padding: 6px;
    border-radius: 10px;
}

#linkDra:hover{
    box-shadow: 4px 4px 10px;
    transition-duration: 0.5s;
}

#dra{
    width: 77%;
    border-radius: 30px;
    margin: 50px 1px 50px 50px;
}

#dra2{
    width: 80%;
    border-radius: 30px;
    margin: 50px 20px 50px 50px;
}

#dra3{
    width: 80%;
    border-radius: 30px;
    margin: 50px 20px 50px 50px;
}

.imgsDra{
    justify-content: space-between;
}

.imgsDra:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#nomeDoutora{
    color: rgb(92, 26, 26);
    font-family: Open Sans;
    
}

#explicacaoDoutora{
    font-size: 30px;
    margin: 35px;
    font-family: Open Sans;
    background-color: rgb(57, 2, 22);
    color: rgba(255, 255, 255, 0.821);
    margin: 20px;
    padding: 50px;
    border-radius: 30px;
    align-items: center;
}

#formulario{
    background-color: #bd9056be;
    text-align: center;    
}

#consulta{
    font-family: Playfair Display;
    color: rgba(255, 255, 255, 0.821);
    text-align: center;
    padding: 35px;
    margin-top: 65px;
    margin-bottom: 30px;
}

#tituloFormulario{
    color: rgb(92, 26, 26);
    padding: 50px;
    font-family: Open Sans;
}

#form{
    font-size: 30px;
    margin-left: 600px;
    font-family: Open Sans;
    background-color: rgb(57, 2, 22);
    width: 300px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
}

#form:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 10px 10px 10px 1px rgba(99, 26, 26, 0.452);
}

@media only screen and (max-width: 600px){



    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lista{
        display: flex;
        flex-direction: column;
        margin-right: 110px;
    }

    #tituloProcedimentos{
        font-size: 20px;
    }

    #procedimentos{
        display: flex;
        flex-direction: column;
    }

    .imagens{
        width: 70%;
    }

    #tituloclinicageral{
       padding-right: 50px;
       font-size: 25px;
    }

    #explicacaoclinicageral{
        font-size: 20px;
        margin-bottom: 25px;
        padding-right: 20px;
    }

    #tituloClareamento{
        padding-right: 50px;
        font-size: 25px;
     }
 
     #explicacaoClareamento{
         font-size: 20px;
         padding-right: 55px;
         margin-bottom: 10px;
     }

     #procedimentos2{
        display: flex;
        flex-direction: column;
     }

     #tituloCirurgiaOral{
        margin: 0px;
        padding-right: 10px;
        font-size: 25px;
     }
 
     #explicacaoCirurgiaOral{
         font-size: 20px;
         margin: 0px;
         align-items: center;
         padding-left: 15px;
         padding-right: 15px;
         margin-bottom: 80px;
     }

     #tituloToxinaBotulinica{
        margin: 0px;
        font-size: 25px;
     }

     #explicacaoToxinaBotulinica{
        font-size: 20px;
        padding-right: 50px;
     }

     #feedbacks p{
        font-size: 20px;
     }

     #quemSouEu{
        display: flex;
        flex-direction: column;
        margin-right: 26px;
     }

     #dra{
        width: 80%;
        margin-left: 50px;
     }

     #explicacaoDoutora h1{
        font-size: 25px;
     }

     #explicacaoDoutora h3{
        font-size: 15px;
     }

     #explicacaoDoutora{
        font-size: 20px;
     }

     #explicacaoDoutora a{
        font-size: 15px;
     }

     #tituloFormulario{
        font-size: 25px;
        
     }

     #form{
        font-size: 20px;
        margin-left: 55px;
        width: 50%;
        margin-left: 80px;
     }

    #lista{
        list-style:disc;
    }
}